.tourBanner {
  height: 38vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(125, 213, 111, 0.85)),
    to(rgba(40, 180, 135, 0.85))
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
}

.heading-tertirary {
  font-size: 4.5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  clip-path: none;
}
@media screen and (max-width: 1200px) {
  .tourBanner {
    padding: 120px 0 99px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .heading-tertirary {
    font-size: 3.5rem;
  }
}
